@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: unset;
    color: hsl(235, 18%, 26%);

}

body{
    align-items: center;
    background-color:hsl(235, 18%, 26%);
    display: flex;
    height: 100vh;
    justify-content: center;
}


/* INICIO *CONTENT__INITIAL* */
.content__initial{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    display: flex;
    max-width:900px;
    padding: 20px;
}

.content__sucess{
    display: none;
}

.illustration-mobile{
    display: none;
}

/* INICIO *ARTICLE* */
article{
    margin: 5%;
    padding: 15px 5px ;
}

.title__article{
    font-size: 35px;
    margin-bottom: 5%;
}

/* INICIO *LISTS* */
.list{
    list-style: none;
    margin: 10% 0;
}

.itens-list{
    display: flex;
    margin-bottom: 5%;
    padding-right: 10%;
    width: max-content;
}

.itens-list img{
    margin-right: 20px;
}
/* FIM *LISTS* */

/* INICIO *FORM-GROUP* */
.form-group label{
    font-size: 10px;
    font-weight: bolder;
}

.labels{
    display: flex;
    justify-content: space-between;
}

.form-group input,button{
    display: block;
    width: 95%;
    padding: 15px;
    border-radius: 5px;
    margin: 5% 0;
    outline: 0;
}

.form-group input{
    border-style: solid;

    &&:hover{
        cursor: pointer;
        border:solid rgba(0, 0, 0) 0.1px;

    }
}

.form-group button{
    border: none;
    background-color:hsl(234, 29%, 20%) ;
    color: white;
    cursor: pointer;
    font-weight: bold;

    &&:hover{
        background-color: hsl(4, 100%, 67%);
        box-shadow: 0px 1px 10px 10px rgb(231, 231, 231);

    }
}

.no-accepted-validation-label{
    color: hsl(4, 100%, 67%);
}
.no-accepted-validation-input{
    color: hsl(4, 100%, 67%);
    background-color:hsl(4, 100%, 67%, 0.1);
    border: 1px solid hsl(4, 100%, 67%);
}

.accepted-validation-input{
    color:green;
    background-color: rgba(0, 128, 0, 0.1);
    border: 1px solid green;
}

.accepted-validation-label{
    color: green;
}
/* FIM *FORM-GROUP* */

/* FIM ARTICLE */

/* FIM *CONTENT_INITIAL* */

.content__sucess{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    max-width:380px;
    padding: 3% 3% 0% 3%;
}

.content__sucess h1{
    font-size: 50px;
    margin: 5% 0;
}

.content__sucess p{
    font-weight: 500;
    margin: 5% auto;
    line-height:25px
}

.content__sucess span{
    font-weight: bolder;
}

.content__sucess button{
    width: 90%;
    border: none;
    background-color:hsl(234, 29%, 20%) ;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 10% 0;

    &&:hover{
        background-color: hsl(4, 100%, 67%);
        box-shadow: 0px 1px 10px 10px rgb(231, 231, 231);

    }
}


@media only screen and (max-width: 900px){
    .content__initial {
        background-color: hsl(0, 0%, 100%);
        border-radius: 0px;
        display: block;
        padding: 0px;
        min-height: 100vh;
        margin: 0%;
    }
    #illustration-sign-up-desktop{
        display: none;
    }
    .illustration-mobile{
        display: block;
        width: 100vw;
    }

    .illustration-mobile img{
        width: 100%;
    }
    .itens-list{
        width: 100%;
        margin: 0%;
        padding: 2%;
    }

    .form-group{
        width: 90%;
    }
    

    .content__sucess{
        background-color: hsl(0, 0%, 100%);
        border-radius: 0px;
        padding: 0px;
        min-width: 100vw;
        min-height: 100vh;
    }
    
    .content__sucess img{
        margin: 30% 10% 10% 10%;
    }

    .content__sucess h1{
        margin: 5% 10%;
    }
    
    .content__sucess p{
        width: 80%;
        margin-bottom: 50%;
    }

    .content__sucess button{
        width: 80%;
        margin: 0% auto;
    }
}




